@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  font-family: "Work Sans";
  color: #484349;
  background-color: #F7F0F0;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border: none;
}

.navbar h1 {
  color: #484349;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #18A999;
}

#bookNow {
  color: white;
  background-color: #18A999;
  border-radius: 16px;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* Activity Feed */
#activityFeedTitle {
  margin-bottom: 20px;
}

#filterDateButton {
  background: #18A999;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

tr {
  border:2px solid #18A999;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

thead th:nth-child(5) {
  width: 35%;
}

th, td {
  padding: 20px;
  align-items: center;
}

.activityFeedItem {
  text-align: center;
}

/* Book An Activity */
.book {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.book label {
  text-align: left;
  display: block;
  font-weight: bold;
}
.book h2 {
  font-size: 20px;
  color: #18A999;
  margin-bottom: 30px;
}
.book input, .book select {
  width: 100%;
  padding: 8px;
  margin: 8px 5px 30px 0px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  
}
.book button {
  background: #18A999;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.inputs {
  border-radius: 16px;
}


